POSTGRES_DB=guanxian
POSTGRES_USER=guanxian
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
REDIS_PORT=6379
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=guanxian
MINIO_ROOT_PASSWORD=change_me_minio
AI_SERVICE_PORT=8001
SERVER_PORT=8080
WEB_PORT=5173
WEB_HTTP_PORT=8081
GUANXIAN_SECURITY_MODE=jwt
GUANXIAN_JWT_ISSUER_URI=https://identity.example.com/realms/guanxian
GUANXIAN_JWT_JWK_SET_URI=https://identity.example.com/realms/guanxian/protocol/openid-connect/certs
GUANXIAN_JWT_PRINCIPAL_CLAIM=preferred_username
WEB_OIDC_AUTHORITY=https://identity.example.com/realms/guanxian
WEB_OIDC_CLIENT_ID=guanxian-web
WEB_OIDC_REDIRECT_URI=http://localhost:8081/auth/callback
WEB_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:8081/login
WEB_OIDC_SCOPE=openid profile email
